.partners{
    text-align: center;
    color: #ccc;
    background-color: #434343;
    h1{
        padding: 20px 0;
        padding-bottom: 5px;;
    }
    
    &__cont{
        padding: 20px 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


@media(max-width:300px){
    .partners{
        img{
            width: 200px;
            height: auto;
        }
    }
}